body {
  font-family: sans-serif;
  font-size: 1rem;
}
.container {
  box-sizing: border-box;
  width: 70rem;
  height: 3rem;
}
h2 {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2rem;
  color: blue;
}
.col1-1 {
  border-right: 1px solid;
  width: 10px;
}
#Arr {
  font-size: 20px;
  padding-left: 10px;
}
.row {
  display: flex;
  align-items: center;
  border: 1px solid;
  height: 100%;
}
.row-2 {
  font-size: 20px;
}
.row-2 span {
  color: orange;
}
.row-3 {
  display: flex;
  justify-content: center;
  padding: 0 20%;
}
.row-3 .arrange {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
}
.row-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-4 div {
  width: 35%;
}
.row-4 button {
  width: 90px;
  text-align: center;
  max-height: 90%;
  margin: 3px 0;
}
